.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}
/*  background-image: url("/posterfilms2.jpg");*/

.nvbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9fa;
  margin: 16px 0;
  justify-content: space-around;
  padding: 0px 5%;
  flex-direction: row;
}

.icon-fms{
  flex-basis: 7%;
  text-align: right;
  display: flex;
  height: 75px;
}

.roll-div{
  width: 75px;
  flex-basis: 50%;
  margin-right: -5px;
}

.fms-div{
  flex-basis: 4%;
  color: #D95032;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Dancing Script', cursive;
}

.nvbar .fms-div{
  margin-left: -6px;
}

.nav-menu{
  margin: 0 1% 0 5%;
}

.myLinks, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 18px;
  display:flex;

}

li {
  float: left;
}

li a {
  display: block;
  color: #734A27;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
}

li a:hover{
  color: #BF7A26;
  font-size: 18px;
  text-decoration: none;
}

.btns{
  flex-basis: 80%;
  text-align: right;
}
.signup-div,
.login-div {
  display:inline
}

.sign-up-btn{
  margin: 0 1%;
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.logout-btn.btn.btn-primary{
  width: 180px;
  border: 1.5px solid rgb(218, 224, 230);
  color:rgb(0, 105, 217);
  background-color: white;
}

.logout-icon{
  width:20px;
  margin-left: 15px;
}
