.my-shelf-list{
  width: 80%;
  margin: auto;
  background-color: #e9ceaf;
}

.my-shelf-list .synopsis{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}